@model IEnumerable<Abc.Northwind.MvcUI.Entities.CustomIdentityUser>
@{
    
    Layout = "~/Views/_AdminLayout.cshtml";
}
<h3 style="margin-top:20px;">Admins</h3>
<div class="row">

    @if (Model.Any())
    {




        foreach (var user in Model)
        {

            <div class="card" style="width: 18rem; margin:5px;">
                <img src="https://image.flaticon.com/icons/png/512/57/57506.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@user.UserName</h5>
                    <p class="card-text">@user.Email</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        }

    }
    else
    {

        <p>there is no admin yet</p>
    }


</div>
