

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}

    <body class="bg-secondary">

        <div>
            <h1 class="align-content-center">
                Your Password was successfully changed
                <i class="fa fa-check" style="font-size:24px"></i>
            </h1>
           <a asp-controller="Account" asp-action="Login"><h2>Return Admin Panel</h2></a>
        </div>

    </body>