@model Abc.Northwind.MvcUI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}


<h2 style="margin-top:20px;">Forgot Password </h2>
<hr />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h4>İf You do not remember your password, Please submit your e-mail address</h4>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary ml-auto float-right">Submit</button>
        </form>
        <h6 style="margin-top:20px"> We will sen you a confirmation link to reset your password</h6>
    </div>
    <div class="col-md-4"></div>
</div>