
@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}





<h2 style="margin-top:20px;">İnformation </h2>
<hr />
<div>
    <h4 class="align-content-center">
        Confirmation mail have just sent your address
       
    </h4>
    <br />
    <h5>Please Check your Mailbox</h5> <button style="margin-left:450px" type="button" asp-controller="-Account" asp-action="Login" class="btn btn-primary">Return <i class="fa fa-reply"></i></button>


</div>

