
@{
    ViewBag.Title = "title";
    Layout = "~/Views/_AdminLayout.cshtml";
}



<h2 style="margin-top:20px;">İnformation</h2>
<hr />
<div>
    <h4 class="align-content-center">
        Your password was successfully reset <i class="fa fa-check"></i>

    </h4>
    <br />
    <h5>Please Sign in by using this button</h5> <button style="margin-left:450px" type="button" asp-controller="-Account" asp-action="Login" class="btn btn-primary">Sign in <i class="fa fa-check-circle-o"></i></button>


</div>
