@{
    Layout = "~/Views/_Layout.cshtml";
}

<div style="margin-top:75px;" class="container">
    <div class="row">
        <div class="col-md-4 bg-warning rounded-pill shadow-lg text-success" style="margin:20px;">

            <h3 style="padding:20px;">To take a look to Cheapest Products <a asp-controller="Product" asp-action="Minprice">Click Here</a></h3>
           
        </div>
        <div class="col-md-4 bg-warning rounded-pill text-center text-success shadow-lg">
            <h3 style="padding:20px;">You can find products ordered by maximum price <a asp-controller="Product" asp-action="Maxprice">with this link</a></h3>

        </div>



    </div>



</div>